{% extends "grn_base.html" %}

{% block content %}



{% if error_message %}
<div class="alert alert-danger">
    {{ error_message }}
</div>
{% endif %}
{{ form.non_field_errors }}
<div class="form-group">
    {{ form.your_field.label_tag }}
    {{ form.your_field }}
    {{ form.your_field.errors }}
</div>
<div>
 
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div>
                <span class="col-md-3" ></span>
            <h1>Create Import PR</h1>
            </div>
            {% if form_errors %}
            <div class="alert alert-danger">
                <ul>
                    <p>{{form_errors}}</p>
                </ul>
            </div>
        {% endif %}
            
            <br>

            <form method="post" id="form1" action="{% url 'create_import_pr' %}">
                {% csrf_token %}
                <div class="form-group col-sm-12">
                    <label class="control-label col-sm-2" style="margin-top: 20px;">Site Name</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="site_name">

                    </div>
                    <span class="form-group col-sm-4">
                        <label class="control-label col-sm-5"> Order No</label>
                        <div class="col-sm-8">
    
                            <input type="text" class="form-control" name="order_no">
                        </div>
                    </span>  
                </div>
                
                <div class="col-sm-6" style="margin-top: 40px;">
                    <span class="form-group">
                        <label class="control-label col-sm-5"> Proforma Invoice No</label>
                        <div class="col-sm-8">

                            <input type="text" class="form-control" name="PR_no">
                        </div>
                    </span>
                    <span class="form-group">
                        <label class="control-label col-sm-5">Vendor Company</label>
                        <div class="col-sm-8" style="margin-top: 10px;">
                            <input type="text" class="form-control" name="vendor_name">

                        </div>
                    </span>


                </div>

                <div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Proforma Invoice Date</label>
                            <div class="col-sm-8">
                                <input type="date" name="date" class="form-control datetimepicker-input"
                                    data-target="#datepicker1" />
                            </div>
                        </div>
                        <div class="form-group col-sm-6 " style="margin-bottom: 50px;">
                            <div class="col-sm-8">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6"></div>
                    <div class="col-sm-6">
                        <span class="form-group">
                            <label class="control-label col-sm-5">Country of Origin</label>
                            <div class="col-sm-8" style="margin-top: 10px;">
                                <input type="text" class="form-control" name="country">

                            </div>
                        </span>
                        <span class="form-group">
                            <label class="control-label col-sm-4">Final Destination</label>
                            <div class="col-sm-8">

                                <input type="text" class="form-control" name="destination">
                            </div>
                        </span>
                    </div>

                    <div class="col-sm-5">
                        <span class="form-group">
                            <label class="control-label col-sm-5">Port of Loading</label>
                            <div class="col-sm-8" style="margin-top: 10px;">
                                <input type="text" class="form-control" name="loading_port">

                            </div>
                        </span>
                        <span class="form-group">
                            <label class="control-label col-sm-6">Port of Discharge</label>
                            <div class="col-sm-8">

                                <input type="text" class="form-control" name="discharge_port">
                            </div>
                        </span>
                    </div>

                    <!-- <div class="col-sm-6">
                        <span class="form-group">
                            <label class="control-label col-sm-4">Freight Price</label>
                            <div class="col-sm-8" style="margin-top: 10px;">
                                <input type="text" class="form-control" name="PR_before_vat">

                            </div>
                        </span>
                        <span class="form-group">
                            <label class="control-label col-sm-4">Total FOB Price</label>
                            <div class="col-sm-8">

                                <input type="text" class="form-control" name="PR_total_price">
                            </div>
                        </span>
                    </div> -->


                </div>
                

                <div class="col-sm-12" style="display: block;">

                    <div class="row">
                        <div class="col-sm-3">
                            <label for="">Measurement Type</label>
                            <div class="radio-group">
                                <div>
                                    <input type="radio" name="measurement" value="tons" id="tons">
                                    <label for="tons">Metric Tons</label>
                                </div>
                                <div>
                                    <input type="radio" name="measurement" value="kgs" id="kgs">
                                    <label for="kgs">KGs</label>
                                </div>
                                <div>
                                    <input type="radio" name="measurement" value="meters" id="meters">
                                    <label for="meters">Meters</label>
                                </div>
                                <div>
                                    <input type="radio" name="measurement" value="meters" id="meters">
                                    <label for="meters">Ltr</label>
                                </div>
                                <div>
                                    <input type="radio" name="measurement" value="pieces" id="pieces">
                                    <label for="pieces">PCs</label>
                                </div>
                                <div>
                                    <input type="radio" name="measurement" value="spools" id="spools">
                                    <label for="spools">Spools</label>
                                </div>
                                <div>
                                    <input type="radio" name="measurement" value="sets" id="sets">
                                    <label for="sets">Sets</label>
                                </div>
                                <div>
                                    <input type="radio" name="measurement" value="other" id="other">
                                    <label for="other">Other</label>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label for="">Payment Terms</label>
                            <div class="radio-group">
                                <div>
                                    <input type="radio" name="payment_type" value="Irrevocable LC at Sight" id="lc-sight">
                                    <label for="lc-sight">Irrevocable LC at Sight</label>
                                </div>
                                <div>
                                    <input type="radio" name="payment_type" value="Cash Against Doc" id="cash-doc">
                                    <label for="cash-doc">Cash Against Doc</label>
                                </div>
                                <div>
                                    <input type="radio" name="payment_type" value="Telegraphic Transfer" id="telegraphic-transfer">
                                    <label for="telegraphic-transfer">Telegraphic Transfer</label>
                                </div>
                                <div>
                                    <input type="radio" name="payment_type" value="Confirmed LC" id="confirmed-lc">
                                    <label for="confirmed-lc">Confirmed LC</label>
                                </div>
                                <div>
                                    <input type="radio" name="payment_type" value="Deferred LC" id="deferred-lc">
                                    <label for="deferred-lc">Deferred LC</label>
                                </div>
                                <div>
                                    <input type="radio" name="payment_type" value="Franco Valuta" id="franco-valuta">
                                    <label for="franco-valuta">Franco Valuta</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label for="">Mode of Transport</label>
                            <div class="radio-group">
                                <div>
                                    <input type="radio" name="transportation" value="Sea" id="sea">
                                    <label for="lc-sight">Sea</label>
                                </div>
                                <div>
                                    <input type="radio" name="transportation" value="Air" id="air">
                                    <label for="cash-doc">Air</label>
                                </div>
                                <div>
                                    <input type="radio" name="transportation" value="Land" id="land">
                                    <label for="telegraphic-transfer">Land</label>
                                </div>

                            </div>
                        </div>
                        
                    </div>
                   
                    
                    
                </div>
                <div class="col-sm-12">
                    
                    <div class="col-sm-3">
                        <label for="">Shipment Type</label>
                        <div class="radio-group">
                            <div>
                                <input type="radio" name="shipment_type" value="fob" id="fob">
                                <label for="fob">FOB</label>
                            </div>
                            <div>
                                <input type="radio" name="shipment_type" value="cfr" id="cfr">
                                <label for="cfr">CFR</label>
                            </div>
                            <div>
                                <input type="radio" name="shipment_type" value="fca" id="fca">
                                <label for="fca">FCA</label>
                            </div>
                            <div>
                                <input type="radio" name="shipment_type" value="cif" id="cif">
                                <label for="cif">CIF</label>
                            </div>
                            <div>
                                <input type="radio" name="shipment_type" value="air_freight" id="air_freight">
                                <label for="air_freight">Air Freight</label>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div id="input_cfr" style="display: none" class="col-sm-5">
                            <label for="fob_label">Freight Price </label>
                            <input type="text"  class="form-control col-sm-5" name="freight1">
                        </div>
                        <div id="input_fca" style="display: none;" class="col-sm-5">
                            <div>
                                <label for="fob_label">Freight Price </label>
                                <input type="text"  class="form-control col-sm-5" name="freight2">
                            </div>
                            <div  style=" margin-top: 20px">
                                <label for="fob_label" style=" margin-top: 20px">Djbouti Costs </label>
                                <input type="text"  class="form-control col-sm-5" name="djbouti_costs">
                            </div>
                        </div>
                        <div id="input_cif" style="display: none;" class="col-sm-5">
                            <div>
                                <label for="fob_label">Freight Price </label>
                                <input type="text"  class="form-control col-sm-5" name="freight2">
                            </div>
                            <div  style=" margin-top: 20px">
                                <label for="fob_label" style=" margin-top: 20px">Insurance Costs </label>
                                <input type="text"  class="form-control col-sm-5" name="djbouti_costs">
                            </div>
                        </div>
                    </div>
                   
                </div>


            </form>

        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
           
            {% if pr_form.errors %}
            <div class="alert alert-danger">
                <strong>Error(s) occurred:</strong>
                <ul>
                    {% for field, errors in pr_form.errors.items %}
                    {% for error in errors %}
                    <li>{{ field }}: {{ error }}</li>
                    {% endfor %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}


            <form method="post" action="{% url 'create_import_items' %}" id="form2">
                {% csrf_token %}

                {{ formset.management_form }}

                <div id="form-lists">
                    {% for form in formset %}

                    <div class="card-body row item-list form-group col-md-5">

                        {{form.as_p}}

                    </div>

                    {% endfor %}
                </div>

                <div id="empty-form" class="hidden"> {{ formset.empty_form.as_p}}</div>
                <button id="add-more" class="btn btn-primary" type="button">Add Item</button>

                <div class="col-sm-8">

            </form>
        </div>
    </div>
</div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12" >
            <button id="submitss" class="col-sm-2 btn-lg" style="color: #6d7fcc; background-color: white; padding: 8px 16px;">
                Calculate Total
            </button>
            <span class=" col-sm-3"><p id="total-price" name="total-price"  style="height:50px; font-weight:bolder; font-size: 22px; color: black;" ></p></span>
        </div>
    </div>
    
    <div class="row">
    <div class="col-sm-12">
        <span style="margin: 10px;" class="col-sm-3"></span>
        <button id="submits" class="col-sm-2 btn-lg " style="color: #6d7fcc; background-color: white; margin-left: 100px;font-size: 24px; height: 62px; font-weight: bolder;">
            Submit
        </button>
        <span style="margin: 10px;"></span>
            <!-- <a href="" class="btn btn-default" style="font-size: large; margin-top: 5px;">Cancel</a> -->
    </div>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
    integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
    integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
    crossorigin="anonymous"></script>

<script src="../../static/js/grn/create_import_pr.js"></script>
{% endblock %}