{% extends 'grn_base.html' %}

{% block content %}
<div class="form-group pull-left">
  <strong>
    <h3>GRN Details</h3>
  </strong>
  
  <br>

  <section class="intro">
    <div class="gradient-custom h-100">
      <div class="mask d-flex align-items-center h-100">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12">
              <div id="datatable"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <table class="table table-striped table-bordered">
    <tr>
      <th>GRN Number</th>
      {% comment %} <th>PR Number</th> {% endcomment %}
      <th>Item name</th>
      <th>Recieved Quantity</th>
      {% comment %} <th>Total ordered</th> {% endcomment %}
    </tr>
    {% for items in grn_items %}
    <tr>
      <!-- <td><a href="#" class="order-link" data-order-id="{{ order.PR_no }}">{{ order.PR_no }}</a></td>
       --><td>{{ items.GRN_no.GRN_no }}</td>
      {% comment %} <td>{{ items.PR_no.PR_no }}</td> {% endcomment %}
      <td>{{ items.item_name }}</td>
      <td>{{ items.quantity }}</td>
      {% comment %} <td>{{ items.PR_no.total_quantity }}</td> {% endcomment %}
    </tr>
    {% endfor %}
  </table>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
      const orderLinks = document.querySelectorAll('.order-link');
      console.log("p1")
      orderLinks.forEach(function (link) {
          link.addEventListener('click', function (event) {
              event.preventDefault();
              console.log("p2")
              const orderID = this.getAttribute('data-order-id');
              window.location.href = `display_grns/?grn_no=${orderID}`;
          });
      });
  });
</script>
{% endblock %}