{% extends "grn_base.html" %}



{% block content %}
<div style=" height: 50px;">
    {% if grn_form.errors %}
<p>yes</p>
    <div class="alert alert-danger">
        <strong>Error(s) occurred:</strong>
        <ul>
            {% for field, errors in grn_form.errors.items %}
                {% for error in errors %}
                    <li>{{ field }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endif %}
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
<div>
    <span class="col-md-3" ></span>
<h1>Create GRN</h1>
</div>
<div id="error-container">
</div>

<br>

<br>
<form method="post" action="{% url 'create_grn' %}" id="form1">
    {% csrf_token %}
    <div class="form-group col-sm-8">
        <label class="control-label col-sm-3" style="margin-top: 10px;">Recieved From</label>
        <div>
            <input type="text" list="vendor_name" placeholder="Name" name="recieved_from" class="form-control "
              style="width: 100%;">
            <datalist id="vendor_name">
              {% for order in names %}
              <option value="{{order.vendor_name}}"></option>
              {% endfor %}
            </datalist>
          </div>
    </div>
    <div class="col-sm-6">
        <span class="form-group">
            <label class="control-label col-sm-4"> GRN Number</label>
            <div class="col-sm-8">

                <input type="text" class="form-control" name="GRN_no">
            </div>
        </span>
        {% comment %} <div class="form-group">
            <label class="control-label col-sm-4">PR no</label>
            <div class="col-sm-8" style="margin-top: 10px;">
                <input type="text" class="form-control" name="PR_no">

            </div>
        </div> {% endcomment %}


    </div>

<div>
    <div class="col-sm-5">
        <div class="form-group">
            <label class="control-label col-sm-4">Date</label>
            <div class="col-sm-8">
                <input type="date" name="grn_date" class="form-control datetimepicker-input" data-target="#datepicker1" />
            </div>
        </div>
    </div>
    <div class="col-sm-8"></div>
    <div class="col-sm-6">
        <div class="form-group">
            <label class="control-label col-sm-4">Transporter Name</label>
            <div class="col-sm-8" style="margin-top: 10px;">
                <input type="text" class="form-control" name="transporter_name">

            </div>
        </div>
        <span class="form-group">
            <label class="control-label col-sm-4"> Plate No</label>
            <div class="col-sm-8">

                <input type="text" class="form-control" name="truck_no">
            </div>
        </span>
    </div>

    <div class="col-sm-5">
       

        <div class="form-group" style="margin-bottom: 10px;">
            <label class="control-label col-sm-4" style="margin-top: 10px;">Store Name</label>
            <div class="col-sm-8" style="margin-top: 10px;">
                <input type="text" list="store_name" placeholder="store" name="store_name" class="form-control "  style="width: 100%;">
                <datalist id="store_name"> 
                    {% for order in grns %}
                    <option value="{{order.store_name}}"></option>
                    {% endfor %}
                  </datalist>
            </div>
            <label class="control-label col-sm-4" style="margin-top: 10px;">Store Keeper</label>
            <div class="col-sm-8" style="margin-top: 10px;">
                <input type="text" list="store_keeper" placeholder="keeper" name="store_keeper" class="form-control "

                style="width: 100%;">
  
              <datalist id="store_keeper">
                {% for order in grns %}
                <option value="{{order.store_keeper}}"></option>
                {% endfor %}
              </datalist>

            </div>
            <!-- <label class="control-label col-sm-4" style="margin-top: 10px;">Invoice Type</label>
          <div class="col-sm-8" style="margin-top: 10px;">
            <input type="text" class="form-control" name="invoice_type">
            
          </div> -->
        </div>
    </div>
    
</div>

</form>
</div></div></div>
<!-- <div style=""><table>
    <tr>
        <th >Item Name</th> 
        <th>Remaining</th>
    </tr>
    {% for item in pr_items%}
    <tr>
        <td>{{item.item_name}}</td>
        <td>{{item.remaining}}</td>
    </tr>
    {% endfor %}
</table></div> -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% if pr_form.errors %}
            <div class="alert alert-danger">
                <strong>Error(s) occurred:</strong>
                <ul>
                    {% for field, errors in pr_form.errors.items %}
                    {% for error in errors %}
                    <li>{{ field }}: {{ error }}</li>
                    {% endfor %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            <form method="post" action="{% url 'create_grn_items' %}" id="form2">
                {% csrf_token %}

                {{ formset.management_form }}

                <div id="form-lists">
                    {% for form in formset %}

                    <div class="item-list card-body row form-group col-md-5">

                        {{form.as_p}}

                    </div>

                    {% endfor %}
                </div>

                <div id="empty-form" class="hidden"> {{ formset.empty_form.as_p}}</div>
                <button id="add-more" class="btn btn-primary" type="button">Add Item</button>

              
            
            </form>
        </div></div></div>

        <button id="submits" class="col-sm-3 btn-lg " style="color: #6d7fcc; background-color: white; margin-left: 100px;">
            Submits
        </button>
        <script src="../../static/js/grn/create_grn.js"></script>
            
          
{% endblock %}