{% extends "grn_base.html" %}


{% block content %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div>
                <span class="col-md-3" ></span>
            <h1>Create Local PR</h1>
            </div>

            
            <br>


<form method="post" action="{% url 'create_pr' %}" id="form1">
    {% csrf_token %}
    <div class="form-group col-sm-8">
        <label class="control-label col-sm-2" style="margin-top: 10px;">Site Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="site_name">

        </div>
    </div>
    <div class="col-sm-6">
        <span class="form-group">
            <label class="control-label col-sm-4"> PR Number</label>
            <div class="col-sm-8">

                <input type="text" class="form-control" name="PR_no">
            </div>
        </span>
        
        <div class="form-group">
            <label class="control-label col-sm-4">Vendor</label>
            <div class="col-sm-8">
                <input type="text" list="the_orders" class="form-control" name="vendor_name" >
                <datalist id="the_orders">
                  {% for order in the_orders %}
                  <option value="{{order.vendor_name}}"></option>
                  {% endfor %}
                </datalist>
              </div>
            
        </div>


    </div>

<div>
    <div class="col-sm-5">
        <div class="form-group">
            <label class="control-label col-sm-4">PR Date</label>
            <div class="col-sm-8">
                <input type="date" name="date" class="form-control datetimepicker-input" data-target="#datepicker1" />
            </div>
        </div>
    </div>
    <div class="col-sm-8"></div>
    <div class="col-sm-6">
        <span class="form-group">
            <label class="control-label col-sm-4">Before Vat</label>
            <div class="col-sm-8" style="margin-top: 10px;">
                <input type="text" class="form-control" name="PR_before_vat" readonly>

            </div>
        </span>
        <span class="form-group">
            <label class="control-label col-sm-4"> PR Total Price</label>
            <div class="col-sm-8">

                <input type="text" class="form-control" name="PR_total_price" readonly>
            </div>
        </span>
    </div>

    <div class="col-sm-5">
       

        <div class="form-group" style="margin-bottom: 10px;">
            <label class="control-label col-sm-4" style="margin-top: 10px;">requested_by</label>
            <div class="col-sm-8" style="margin-top: 10px;">
                <input type="text" class="form-control" name="requested_by">

            </div>
        <div class="col-sm-4" style="margin-bottom: 40px; width: 100%;"><div class="col-sm-8" style="margin-top: 10px; width: 100%;">
            

        </div>
    </div>
    

            <!-- <label class="control-label col-sm-4" style="margin-top: 10px;">Invoice Type</label>
          <div class="col-sm-8" style="margin-top: 10px;">
            <input type="text" class="form-control" name="invoice_type">
            
          </div> -->
        </div>
    
    </div>
    <!-- <div class="form-group">
        <label class="control-label col-sm-4">Status</label>
        <div class="col-sm-8" style="margin-top: 10px;">
            <input type="text" class="form-control 
            " name="status">

        </div>
    </div> -->

</div>
 <div class="col-sm-12" style="display: block; ">

    <div class="row">
        <div class="col-sm-3">
            <label for="">Measurement Type</label>
            <div class="radio-group">
                <div>
                    <input type="radio" name="measurement_type" value="tons" id="tons">
                    <label for="tons">Metric Tons</label>
                </div>
                <div>
                    <input type="radio" name="measurement_type" value="kgs" id="kgs">
                    <label for="kgs">KGs</label>
                </div>
                <div>
                    <input type="radio" name="measurement_type" value="meters" id="meters">
                    <label for="meters">Meters</label>
                </div>
                <div>
                    <input type="radio" name="measurement_type" value="meters" id="meters">
                    <label for="meters">Ltr</label>
                </div>
                <div>
                    <input type="radio" name="measurement_type" value="pieces" id="pieces">
                    <label for="pieces">PCs</label>
                </div>
                <div>
                    <input type="radio" name="measurement_type" value="spools" id="spools" class="measurement_type">
                    <label for="spools">Spools</label>
                </div>
                <div>
                    <input type="radio" name="measurement_type" value="sets" id="sets" class="measurement_type">
                    <label for="sets">Sets</label>
                </div>
                <div>
                    <input type="radio" name="measurement" value="other" id="other" class="measurement_type">
                    <label for="other">Other</label>
                </div>
                <div id="input_other"  class="col-sm-7">
                
                    <input type="text"  class="form-control col-sm-5" name="measurement_other">
                </div>

            </div>
        </div>
        <div class="col-sm-3">
            <label for="">Payment Type</label>
            <div class="radio-group">
                <div>
                    <input type="radio" name="payment_type" value="Cash in Advance" id="cia" class="payment_type">
                    <label for="tons">Cash in Advance</label>
                </div>
                <div>
                    <input type="radio" name="payment_type" value="credit" id="credit" class="payment_type">
                    <label for="kgs">Credit</label>
                </div>
                <div>
                    <input type="radio" name="payment_type" value="other2" id="other2" class="payment_type">
                    <label for="meters">Other</label>
                </div>
                <div id="input_other2"  class="col-sm-7">
                
                    <input type="text"  class="form-control col-sm-5" name="payment_other">
                </div>
               
            </div>
        </div>
        
    </div>
   <!--  <div class="row">
        <div class="col-sm-3">
            <div id="input_other"  class="col-sm-5">
                
                <input type="text"  class="form-control col-sm-5" name="measurement_other">
            </div>
            
        </div>
        
    </div> -->
</div> 

</form>
</div></div></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
           
            {% if pr_form.errors %}
            <div class="alert alert-danger">
                <strong>Error(s) occurred:</strong>
                <ul>
                    {% for field, errors in pr_form.errors.items %}
                    {% for error in errors %}
                    <li>{{ field }}: {{ error }}</li>
                    {% endfor %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}


            <form method="post" action="{% url 'create_items' %}" id="form2">
                {% csrf_token %}

                {{ formset.management_form }}

                <div id="form-lists">
                    {% for form in formset %}
                    {% if form.field.name == "item_name" %}
                        <div class="col-sm-10">
                            <input list="the_orders" class="form-control" rows="3" name="item_name">
                            <datalist id="the_orders">
                                {% for order in the_orders %}
                                <option value="{{ order.item_name }}">{{ order.item_name }}</option>
                                {% endfor %}
                            </datalist>
                        </div>
            {% endif %}
                    <div class="card-body row item-list form-group col-md-5">

                        {{form.as_p}}

                    </div>

                    {% endfor %}
                </div>

                <div id="empty-form" class="hidden"> {{ formset.empty_form.as_p}}</div>
                <button id="add-more" class="btn btn-primary" type="button">Add Item</button>

                <div class="col-sm-8">
                    <input type="hidden" name="vat_is_checked" id="vat_is_checked" value="False">
                    <!-- <div class="form-group">
                <label class="control-label col-sm-5" style="margin-top: 10px;">Total Before VAT</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="final_before_vat" readonly>
        
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-5" style="margin-top: 10px;">Total Price</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="final_total_price" readonly>
        
                </div>
            </div> -->

            </form>
        </div>
    </div>
</div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-2">
                <input type="checkbox" id="withholdingCheckbox"> Apply Excise Tax<br>

            </div>
            <div class="col-sm-2">
                <input type="checkbox" id="discountCheckbox"> Apply Discount<br>

            </div>
            <div class="col-sm-2">
                <input type="checkbox" id="vatCheckbox">Remove VAT<br>
            
            </div>
        </div>
    </div> 
    <div class="row">
        <div class="col-sm-12" >
            <button id="submitss" class="col-sm-2 btn-lg" style="color: #6d7fcc; background-color: white; padding: 8px 16px;">
                Calculate Total
            </button>
            <span class=" col-sm-3"><p id="total-price" name="total-price"  style="height:50px; font-weight:bolder; font-size: 22px; color: black;" ></p></span>
            <span class=" col-sm-3"><p id="total-vat" name="total-vat"  style="height:50px; font-weight:bolder; font-size: 22px; color: black;" ></p></span>
           
        </div>
    </div>
    
    <div class="row">
    <div class="col-sm-12">
        <span style="margin: 10px;" class="col-sm-3"></span>
        <button id="submits" class="col-sm-2 btn-lg " style="color: #6d7fcc; background-color: white; margin-left: 100px;font-size: 24px; height: 62px; font-weight: bolder;">
            Submit
        </button>
        <span style="margin: 10px;"></span>
            <!-- <a href="" class="btn btn-default" style="font-size: large; margin-top: 5px;">Cancel</a> -->
    </div>
</div>
</div>
<script src="../../static/js/grn/create_pr.js"></script>

{% endblock %}