{% extends 'grn_base.html' %}

{% block content %}
<div class="form-group pull-left">
  <strong>
    <h3>GRN Details</h3>
  </strong>
  
  <form action="{% url 'search_grns' %}">
    <div class="form-group col-sm-4" style="display: flex; margin-top: 20px; ">
      <input type="text" name="PR_no" placeholder="PR No" class="form-control" style=" margin-top: 10px; ">
      <div style="width: 20%;"><button type="submit" class="btn btn-primary">Search PR</button></div>
    </div>
  </form>
  <form action="/GRN/display_grns">
    <div class="form-group col-sm-4" style="display: flex; margin-top: 20px; ">
      <input type="text" name="GRN_no" placeholder="GRN No" class="form-control" style=" margin-top: 10px; ">
      <div style="width: 20%;"><button type="submit" class="btn btn-primary">Search GRN</button></div>
    </div>
  </form>
  <br>
  <br>

  <section class="intro">
    <div class="gradient-custom h-100">
      <div class="mask d-flex align-items-center h-100">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12">
              <div id="datatable"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <table class="table table-striped table-bordered">
    <tr>
      <th>GRN Number</th>
      {% comment %} <th>PR Number</th> {% endcomment %}
      <th>GRN Date</th>
      <th>Transporter Name</th>
      <th>Plate Number</th>
      <th>Recieved From</th>
      {% comment %} <th>Remaining</th> {% endcomment %}
      {% comment %} <th>Store Name</th>
      <th>Store Keeper</th>
     {% endcomment %}
    </tr>
    {% for order in my_order %}
    <tr>
      <!-- <td><a href="#" class="order-link" data-order-id="{{ order.PR_no }}">{{ order.PR_no }}</a></td>
       --><td><a href="#" class="grn-link" data-order-id="{{ order.GRN_no }}">{{ order.GRN_no }}</a></td>
      {% comment %} <td><a href="#" class="order-link" data-order-id="{{ order.PR_no.PR_no }}">{{ order.PR_no.PR_no }}</a></td> {% endcomment %}
      <td>{{ order.grn_date }}</td>
      <td>{{ order.transporter_name }}</td>
      <td>{{ order.truck_no }}</td>
      <td>{{ order.recieved_from }}</td>
      {% comment %} <td>{{ order.PR_no.remaining }}</td>
      <td>{{ order.store_name }}</td>
      <td>{{ order.store_keeper }}</td>
      {% endcomment %}
    </tr>
    {% endfor %}
  </table>

  <div><h4>Imports</h4></div>
  <table class="table table-striped table-bordered">
    <tr>
      <th>GRN Number</th>
      <th>PR Number</th>
      <th>GRN Date</th>
      <th>Transporter Name</th>
      <th>Plate Number</th>
      <th>Recieved From</th>
      <th>Remaining</th>
      <th>Store Name</th>
      <th>Store Keeper</th>
    
    </tr>
    {% for order in my_imports %}
    <tr>
      <!-- <td><a href="#" class="order-link" data-order-id="{{ order.PR_no }}">{{ order.PR_no }}</a></td>
       --><td>{{ order.GRN_no }}</td>
      <td>{{ order.PR_no.PR_no }}</td>
      <td>{{ order.grn_date }}</td>
      <td>{{ order.transporter_name }}</td>
      <td>{{ order.truck_no }}</td>
      <td>{{ order.recieved_from }}</td>
      <td>{{ order.PR_no.remaining }}</td>
      <td>{{ order.store_name }}</td>
      <td>{{ order.store_keeper }}</td>
     
    </tr>
    {% endfor %}
    
  </table>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
      const orderLinks = document.querySelectorAll('.order-link');
      console.log("p1")
      orderLinks.forEach(function (link) {
          link.addEventListener('click', function (event) {
              event.preventDefault();
              console.log("p2")
              const orderID = this.getAttribute('data-order-id');
              window.location.href = `/GRN/print_pr?PR_no=${orderID}`;
          });
      });
      const orderLinks2 = document.querySelectorAll('.grn-link');
      console.log("p1")
      orderLinks2.forEach(function (link) {
          link.addEventListener('click', function (event) {
              event.preventDefault();
              console.log("p2")
              const orderID = this.getAttribute('data-order-id');
              window.location.href = `/GRN/display_grns?GRN_no=${orderID}`;
          });
      });
  });
</script>

{% endblock %}