{% extends "admin/base.html" %}
{% load static i18n %}

{% block title %}
{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {% translate 'Mohan PLC Administration' %}
{% endblock %}

{% block branding %}
<div id="site-name">
    <a href="{% url 'admin:index' %}">{% translate 'Mohan PLC Administration' %}</a>
</div>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/admin_theme.css' %}">
{% endblock %}

{% block nav-global %}
{% if not is_popup %}
<div class="admin-quick-links">
    <a class="admin-quick-brand" href="{% url 'create_grn' %}">GRN</a>
    <span>|</span>
    <a href="{% url 'create_MR' %}">MR</a>
    <span>|</span>
    <a href="{% url 'create_fgrn' %}">FGRN</a>
    <span>|</span>
    <a href="{% url 'create_WIP' %}">WIP</a>
    <span>|</span>
    <a href="{% url 'input_delivery' %}">DN</a>
    <span>|</span>
    <a href="/">{% translate 'Site home' %}</a>
</div>
{% endif %}
{% endblock %}
