{% extends 'deliveries_base.html' %}
{% block content %}

<h1>Input Delivery Information</h1>



<form action="{% url 'create_delivery' %}" method="post" id="form1">
    {% csrf_token %}

    <div style="width: 1000px;" id="delivery">

    <div class="form-row">
        <div class="form-group">
            {{ form.delivery_number.label_tag }}
            {{ form.delivery_number }}
        </div>
        <div class="form-group">
            {{ form.serial_no.label_tag }}
            {{ form.serial_no }}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group">
            {{ form.delivery_date.label_tag }}
            {{ form.delivery_date }}
        </div>
        <div class="form-group">
            {{ form.truck_number.label_tag }}
            {{ form.truck_number }}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group">
            {{ form.driver_name.label_tag }}
            {{ form.driver_name }}
        </div>
        <div class="form-group">
            {{ form.recipient_name.label_tag }}
            {{ form.recipient_name }}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group">
            {{ form.delivery_comment.label_tag }}
            {{ form.delivery_comment }}
        </div>
    </div>

    </div>

    <h2 style="text-align: center;">Add Items Below</h2>

    <div class="width:100px" id="item_formset">
        {{ formset.management_form }}
  
        <div id="form-lists">
            {% for form in formset %}
  
            <div class="card-body row item-list form-group col-md-4">
  
                {{form.as_p}}
  
            </div>
  
            {% endfor %}
        </div>
  
        <div id="empty-form" class="hidden"> {{ formset.empty_form.as_p}}</div>
    </div>

    <div class="row">
        <button id="add-form-btn" >Add more</button>
    </div>

    <button type="button" id="submit-btn" class="btn btn-primary">Submit</button>
   
</form>

<br>



<script src="../../static/js/dn/input_delivery.js"></script>
                
{% endblock %}