{% extends 'deliveries_base.html' %}

{% block content %}
   <div class="form-group pull-left">
        <strong><h3>Delivery Details</h3></strong>
        
        {% if error_message %}
    <div class="alert alert-danger">
        {{ error_message }}
    </div>
{% endif %}
<div>
  <div>
        
      </div>
      <div>
         <div>
          <div class="col-md-6">
            <form method="get">
              <label for="start_date">Start Date:</label>
              <input type="date" name="start_date" id="start_date">

              <label for="end_date">End Date:</label>
              <input type="date" name="end_date" id="end_date">
              
              <button type="submit" class="btn btn-primary" value="Filter">Filter</button>
          </form>
          
          </div>
        </div>
      </div>
</div>   
       <br>
       <br>
       <br>
        <section class="intro">
            <div class="gradient-custom h-100">
              <div class="mask d-flex align-items-center h-100">
                <div class="container">
                  <div class="row justify-content-center">
                    <div class="col-12">
                      <div id="datatable"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>  
    
        <table id="example" class="table table-striped table-bordered" >
          <thead>
            <tr>
              <th>delivery_number</th>
              <th>Serial No</th>
              <th>delivery_date</th>
              <th>Item Name</th>
              <th>delivery_quantity</th>
              <th>Customer Name</th>
          </tr>
          </thead>

          <tbody>
            {% for delivery in deliveries_data %}
            <tr>
                <!-- <td><a href="#" class="order-link" data-order-id="{{ delivery.delivery_number }}">{{ delivery.delivery_number }}</a></td> -->
                <td><a href="/DN/display_single_delivery/{{ delivery.delivery_number }}">{{ delivery.delivery_number }}</a></td>
                <td>{{ delivery.serial_no}}</td>
                <td>{{ delivery.delivery_date }}</td>
                <td>
                  {% for item in delivery.items.all %}
                      {{ item.description }}
                      {% if not forloop.last %}<br>{% endif %}
                  {% endfor %}
                </td>
                <td>
                  {% for item in delivery.items.all %}
                      {{ item.quantity }}
                      {% if not forloop.last %}<br>{% endif %}
                  {% endfor %}
                </td>
                <td>{{ delivery.recipient_name }}</td>
            </tr>
            {%endfor%}
          </tbody>
          
        </table>
   
      </div>

  
  <script>
      document.addEventListener('DOMContentLoaded', function () {
        const orderLinks = document.querySelectorAll('.order-link');
        console.log("p1")
        orderLinks.forEach(function (link) {
            link.addEventListener('click', function (event) {
                event.preventDefault();
                console.log("p2")
                const fgrnID = this.getAttribute('data-order-id');
                window.location.href = `/DN/display_single_delivery?delivery_number=${fgrnID}`;
            });
        });
    });
  
  </script>



{% endblock %}
