{% extends 'deliveries_base.html' %}
{% block content %}
<canvas id="myChart"></canvas>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: {{ labels|safe }},  // Customer names
                    datasets: [{
                        label: 'Total Items Purchased',
                        data: {{ data|safe }},  // Total quantity purchased by each customer
                        backgroundColor: 'rgba(54, 162, 235, 0.2)',
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        });
    </script>
{%endblock%}