{% extends 'deliveries_base.html' %}

{% block content %}
   <div class="form-group pull-left">
        <strong><h4>Order Details</h4></strong>
        <br><br>
        <input type="text" class="search form-control" placeholder="Search">
        <i class="fa fa-search form-control-feedback"></i>
        <br>
        <br>
       
       
        <table  class="table table-striped table-bordered">
            <tr>
                <th>Order Number</th>
                <th>Date</th>
                <th>Invoice</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total Price</th>
                <th>Customer</th>
                <th>Remaining</th>
            </tr>
           
            <tr>
                <td class="order-link" data-order-id="{{ my_order.serial_no }}">{{ my_order.serial_no }}</td>
                <td>{{ my_order.date }}</td>
                <td>{{ my_order.invoice }}</td>
                <td>{{ my_order.description }}</td>
                <td>{{ my_order.price }}</td>
                <td>{{ my_order.order_quantity }}</td>
                <td>{{ my_order.total_price }}</td>
                <td>{{ my_order.customer_name }}</td>
                <td>{{ my_order.remaining }}</td>
            </tr>
            {% for delivery in deliveries %}
            <tr>
                <td >{{ delivery.serial_no }}</td>
                <td>{{ delivery.date }}</td>
                <td>{{ my_order.invoice }}</td>
                <td>{{ delivery.delivery_quantity}}</td>
                <td>{{ my_order.price }}</td>
                <td>{{ my_order.order_quantity }}</td>
                <td>{{ my_order.total_price }}</td>
                <td>{{ my_order.customer_name }}</td>
            </tr>
            {% endfor %}

        </table>
        <button class="sales_btn">
            Sales Contract
        </button>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const sales_button = document.querySelector('.sales_btn');
            const orderLinks = document.querySelector('.order-link');
            console.log("p1")
            sales_button.addEventListener('click', function (event) {
                    event.preventDefault();
                    console.log("p2")
                    const orderID = orderLinks.getAttribute('data-order-id');
                    console.log(orderID)
                    window.location.href = `/DN/sales_contract/?serial_no=${orderID}`;
                });
            });
       
      </script>

{% endblock %}
