{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/mohan.css' %}" />
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.8/dist/cdn.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title></title>
  </head>

  <body class="bg-light-white">
    <nav class="bg-delft-blue"  x-data="{navbarOpen:false}">
      <div
        class="container px-4 flex flex-wrap py-2 mx-auto">
      <ul>
        <li x-data="{maindropdownOpen:false}">
            <button> 
                <a
                  class="inline-flex p-2 text-xl font-bold uppercase tracking-wider text-white" 
                  @click="maindropdownOpen = !maindropdownOpen" @click.away = "maindropdownOpen = false"
                  >FGRN</a
                >
            </button>
                <div class="lg:absolute bg-white rounded-md p-2" :class="{'hidden':!maindropdownOpen, 'flex flex-col':maindropdownOpen}">
                        <ul class="space-y-2">
                            <li class="flex p-2 font-medium text-gray-600 rounded-md hover:bg-light-white hover:text-black lg:w-48">
                                <a href="{% url 'mr_base' %}">MR</a>
                            </li> 
                            <li class="flex p-2 font-medium text-gray-600 rounded-md hover:bg-light-white hover:text-black lg:w-48">
                                <a href="#">GRN</a>
                            </li> 
                            <li class="flex p-2 font-medium text-gray-600 rounded-md hover:bg-light-white hover:text-black lg:w-48">
                                <a href="#">DN</a>
                            </li> 
                        </ul>
                    </div>
        </li>
      </ul>
        
   
        <button
          class="inline-flex items-center justify-center border h-10 w-10 text-white rounded-md outline-none focus:outline-none lg:hidden ml-auto"
          @click="navbarOpen = !navbarOpen"  
        >
          <i class="fa fa-bars"></i>
        </button>

        <div
          class="w-full lg:inline-flex lg:w-auto mt-2 lg:mt-0 ml-auto"
          :class="{'hidden':!navbarOpen, 'flex':navbarOpen}"
        >
          <ul class="w-full lg:w-auto flex flex-col lg:flex-row space-y-2 lg:space-y-0 lg:space-x-2">
            <!-- <li>
              <a
                href="#"
                class="flex px-4 py-2 rounder-md font-medium text-white hover:bg-light-white"
                >Dashboard</a
              >
            </li>
            <li>
              <a
                href="#"
                class="flex px-4 py-2 rounder-md font-medium text-white hover:bg-light-white"
                >Projects</a
              >
            </li> -->

            <li class="relative" x-data="{dropdownOpen:false}">
                <button>
          <a
                href="#"
                class="flex outline-none focus:outline-none px-4 py-2 rounder-md font-medium text-white hover:bg-light-white"
                @click="dropdownOpen = !dropdownOpen" @click.away = "dropdownOpen = false"
                >MR</a
              >
            </button>
            <div class="lg:absolute bg-white right-0 rounded-md p-2" :class="{'hidden':!dropdownOpen, 'flex flex-col':dropdownOpen}">
                <ul class="space-y-2">
                    <li class="flex p-2 font-medium text-gray-600 rounded-md hover:bg-light-white hover:text-black lg:w-48">
                        <a href="#">Create MR</a>
                    </li> 
                    <li class="flex p-2 font-medium text-gray-600 rounded-md hover:bg-light-white hover:text-black lg:w-48">
                        <a href="#">Display MR</a>
                    </li>
                </ul>
            </div>
            </li>
            
            <li class="relative" x-data="{invdropdownOpen:false}">
                <button>
          <a
                href="#"
                class="flex outline-none focus:outline-none px-4 py-2 rounder-md font-medium text-white hover:bg-light-white"
                @click="invdropdownOpen = !invdropdownOpen" @click.away = "invdropdownOpen = false"
                >Inventory</a
              >
            </button>
            <div class="lg:absolute bg-white right-0 rounded-md p-2" :class="{'hidden':!invdropdownOpen, 'flex flex-col':invdropdownOpen}">
                <ul class="space-y-2">
                    <li class="flex p-2 font-medium text-gray-600 rounded-md hover:bg-light-white hover:text-black lg:w-48">
                        <a href="#">Display Inventory</a>
                    </li> 
                </ul>
            </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div>
        
    </div>
  </body>
</html>
